*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Gilroy-Regular', sans-serif;
}
html,body{
    height: 100%;
    width: 100%;
}
.main{
    position: relative;
    height: 100%;
    width: 100%;
}
.main .nav{
    height: 4vw;
    width: 100%;

}
.nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 4vw;
    border-bottom: 2px solid #dadada;
    background-color: #5ae4a8;
}
.nav h2{
    font-weight: 800;
    color: white;
}
.navlinks{
    gap: 3vw;
    display: flex;
    align-items: center;
}
.navlinks a{
    text-decoration: none;
    color:white;
    font-weight: 500;
}
.nav i{
    font-size: 1.6vw;
    font-weight: 800;
    display: none;
}
.content{
    height: calc(100% - 4vw);
    width: 100%;
    position: relative;
    display: flex;
}
.left{
    height: 100%;
    width: 50%;
    padding: 5vw 4vw;
}
.left h1{
    font-size: 4vw;
    font-weight: 600;
    line-height: 4.4vw;
}
.left span{
    color: #5ae4a8;
}
.left p{
    width: 80%;
    margin-top: 1.5vw;
    margin-bottom: 4vw;
    font-size: 1.26vw;
    color: #777;
}
.left button{
    padding: 0.8vw 2.5vw;
    font-weight: 600;
    background-color: #5ae4a8;
    color: white;
    border-radius: 100px;
    outline: none;
    border: none;
}
.left button:hover{
    border-radius: 0;
}
.right{
    height: 100%;
    width: 50%;
}
.right img{
    height: 100%;
    width: 100%;
}







@media (max-width:500px) {
    .main .nav{
        height: 15vw;
    }
    .nav h2{
        font-weight: 600;
        font-size: 6vw;
    }
    .navlinks a{
        display: none;
    }
    .navlinks i{
        display: block;
        font-size: 6vw;
        color: white;
    }
    .content{
        flex-direction: column;
    }
    .left{
        width: 100%;
    }
    .left h1{
        font-size: 11vw;
        line-height: 11vw;
        font-weight: 650;
    }
    .left p{
        margin-top: 3.5vw;
        margin-bottom: 7.5vw;
        font-size: 4vw;
    }
    .left button{
        padding: 3vw 4vw;
    }
    .right{width: 100%;
        margin-bottom: 10vw;
    }
}
